body {
    width: 600px;
    margin: 0px;
}

.alertbox {
    padding: 8px;
    text-align: center;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left {
        display: flex;
        align-items: center;
        width: 70px;
        #dropdown-menu {
            margin: 0px;
            position: absolute;
            display: none;
            background-color: white;
            width: 336px;
            top: 94px;
            p {
                margin: 30px;
                font-size: 20px;
            }
            .bottom {
                background-color: #F0F0F0;
                .login_box {
                    padding: 25px;
                    display: flex;
                    gap: 10px;
                    a {
                        text-decoration: none;
                        color: black;
                    }
                }
                .social_media {
                    padding: 25px;
                    svg {
                        margin: 0 15px;
                    }
                }
            }
        }
    }

    &__midle {
        margin: 8px 0;
        width: 90px;
    }

    &__right {
        width: 70px;
        padding-right: 5px;
        div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .basket{
                width: 40px;
            }
        }
    }
}

.cover_photo {
    height: 400px;
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        color: white;
        text-align: center;
    }
    h2 {
        color: white;
        text-align: center;
    }
    button{
        width: 80px;
        height: 40px;
        background-color: transparent;
        border: 2px solid;
        border-color: white;
        color: white;
    }
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
